.card {
	border-radius: 8px;
	padding: 16px;
	background-color: $sky-blue;
	box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
	padding: 16px;
	position: relative;
	transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
	transform-style: preserve-3d;
	transition: 150ms;
	cursor: pointer;
}
  
.card--flipped {
	--rotate-y: 0deg;
	background-color: white;
}
  
.card--matched {
	.card__back {
	  display: none;
	}
}
  
.card__front, .card__back {
	position: absolute;
	backface-visibility: hidden;
}
  
.card__back {
	transform: rotateY(180deg);
}
  
.card__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: $card-title;
	margin: 0;
}
  
.card__description {
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: black;
	margin: 0;
}
  
.card__image {
	height: 180px;
	width: 180px;
	border-radius: 8px;
}
