.container-content {
	background-color: $gamebackground;
	height: 100%;
  border-radius: 16px 16px 0px 0px;
	display: flex;
  align-items: center;
  justify-content: center;
	flex-wrap: wrap;
  min-width: 1040px;
	flex-direction: column;
	padding-bottom: 23px;
}