.game__title {
	width: 229px;
	height: 40px;
	background: $green;
	border-radius: 25px;
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 20px;
	color: black;
	display: grid;
	align-items: center;
	justify-items: center;
}