:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C1D3B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --rotate-y: 180deg;
}

.body {
  margin: 0;
}

.game__title {
  width: 229px;
  height: 40px;
  background: #D8E054;
  border-radius: 25px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  display: grid;
  align-items: center;
  justify-items: center;
}

.game-button__container {
  justify-items: center;
  display: grid;
  margin-bottom: 23px;
}

.game__button {
  width: 240px;
  height: 53px;
  background: #A2F2F9;
  border-width: 0px 0px 4px 4px;
  border-style: solid;
  border-color: #D8E054;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #233A59;
}

.container { 
  display: grid;
  place-items: center;
}

.game__content {
  display: grid;
  place-items: center;
}

.container-content {
	background-color: #FFFAC2;
	height: 100%;
  padding: 0 72px;
  border-radius: 16px 16px 0px 0px;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 212px);
  grid-template-rows: repeat(3, 260px);
  gap: 16px;
  margin-bottom: 48px;
}

.title, .game__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.game__header {
  display: flex;
  justify-content: space-between; /* Align items to the beginning and end */
  align-items: center;
}

.card {
  border-radius: 8px;
  padding: 16px;
  background-color: #A2F2F9;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
  padding: 16px;
  position: relative;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
}

.card--flipped {
  --rotate-y: 0deg;
  background-color: white;
}

.card--matched > .card__back {
  display: none;
}

.card__front, .card__back {
  position: absolute;
  backface-visibility: hidden;
}

.card__back {
  transform: rotateY(180deg);
}

.card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #233A59;
  margin: 0;
}

.card__description {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin: 0;
}

.card__image {
  height: 180px;
  width: 180px;
  border-radius: 8px;
}

